.grey {
    background-color: grey;
    padding: 20px;
}

form label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

form input, select {
    margin-top: 2px;
    margin-bottom: 1rem;
}

